.App {
  height: 100%;
  width: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; */
}

.marker {
  stroke: #39ff14;

  transform: translate(-50%, -100%);
}

.popup {
  max-width: 300px;
  /* margin: 5px; */
  background: pink;
}
